# Ignore virtual environment folder
.venv/
venv/
env/

# Ignore Python compiled files
__pycache__/
*.pyc

# Ignore system files
.DS_Store

# Ignore specific data file
sensor_heartbeat_baseline_seasonal.json
testing/artifacts/grafana_debug_bundle.zip
testing/artifacts/ha_debug_bundle.zip
